In [40]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv')

In [3]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

**Version of pandas**

In [4]:
pd.__version__

'2.2.3'

**Number of records in the dataset**

In [8]:
df.shape[0]

2160

**Number of laptop brands in the dataset**

In [10]:
df.Brand.nunique()

27

**Number of columns with missing values**

In [11]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

**Maximum final price of Dell notebooks in the dataset**

In [14]:
df.groupby('Brand')['Final Price'].agg(['min', 'mean', 'max'])

                      min         mean      max
Brand
Acer               264.14  1001.285766  3691.00
Alurin             239.00   484.701379   869.00
Apple              299.00  1578.227672  3849.00
Asus               239.25  1269.380699  5758.14
Deep Gaming       1334.00  1505.377500  1639.01
Dell               379.00  1153.839881  3936.00
Denver             329.95   329.950000   329.95
Dynabook Toshiba   397.29   999.197895  1805.01
Gigabyte           799.00  1698.488958  3799.00
HP                 210.14   952.628478  5368.77
Innjoo             251.40   347.888333   431.38
Jetwing            469.27   469.270000   469.27
LG                 609.04  1730.028438  2399.00
Lenovo             239.00  1087.723880  5018.14
MSI                444.19  1913.451006  7150.47
Medion             246.89   905.331875  3799.00
Microsoft          599.01  1595.543247  3747.91
Millenium         1640.98  1976.845000  2312.71
PcCom             1049.00  1606.762917  1949.90
Primux             208.99   339.618750   599.41
Prixton            246.95   292.280000   329.95
Razer             1232.74  3265.701622  4999.01
Realme             999.00   999.000000   999.00
Samsung            365.90  1595.511364  3699.01
Thomson            201.05   316.860000   436.56
Toshiba            799.00   799.000000   799.00
Vant               632.00  1047.455455  1217.01

In [15]:
df[df.Brand == 'Dell']['Final Price'].max()

np.float64(3936.0)

**Median value of `Screen` column**

In [19]:
median_screen = df['Screen'].median()
median_screen

np.float64(15.6)

**Most frquent value (mode) of `Screen` column**

In [20]:
mode_screen = df['Screen'].mode()
mode_screen

0    15.6
Name: Screen, dtype: float64

**Using `fillna` method to fill the missing values in the `Screen` column with the mode.**

In [21]:
df['Screen'].fillna(mode_screen).median()

np.float64(15.6)

Median value of `Screen`

**Selecting all the "Innjoo" laptops from the dataset and only columns `RAM`, `Storage` and `Screen`.**

In [37]:
innjoo_df = df[df.Brand == 'Innjoo']
innjoo_df = innjoo_df[['RAM', 'Storage', 'Screen']]
innjoo_df

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

**1. Getting the underlying NumPy array. Let it be `X`.\
2. Computing the matrix-matrix multiplication between the transpose of `X` and `X`, and using `X.T`. Let the result be `XTX`.\
3. Computing the inverse of `XTX`.**

In [41]:
X = innjoo_df.values
XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 2.78025381e-01, -1.51791334e-03, -1.00809855e-01],
       [-1.51791334e-03,  1.58286725e-05,  4.48052175e-04],
       [-1.00809855e-01,  4.48052175e-04,  3.87214888e-02]])

**Creating an array `y` with values `[1100, 1300, 800, 900, 1000, 1100]`.**

In [42]:
y = np.array([1100, 1300, 800, 900, 1000, 1100])

**Multiplying the inverse of `XTX` with the transpose of `X`, and the multiplying the result by `y`. Let the result be `w`.**

In [44]:
w = (XTX_inv @ X.T) @ y
w

array([45.58076606,  0.42783519, 45.29127938])

**Adding all the elements of the result**

In [46]:
sum(w)

np.float64(91.2998806299555)

**Lines 37-46 to the end is an implementation of normal equation.**

$$w = (X^T X)^{-1} X^T y$$